# Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment file
.env

# Emacs backup and autosave files
*~
.#*

# Emacs lock files
*.lock
